.everything-is-ready {
  //background-size: cover;
  background: url("../img/our-services/our_service_footer.jpg") center no-repeat;
  text-align: center;
  height: 476px;
  margin-top: 103px;

}

.everything-is-ready__title {
  padding-top: 105px;
  color: #18cfab;
  font-size: 40px;
}

.everything-is-ready__text {
  padding-top: 35px;
  color: #d8d8d8;
  font-size: 16px;
}

.everything-is-ready .btn_btn1 {
  margin-top: 80px;
}

.btn_btn1 {
  margin-bottom: 0;
}