.footer {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  background: #22353f;
  margin-top: 82px;
  padding-top: 47px;
  padding-bottom: 47px;
  display: inline-block;
  color: #aeaeae;
  font-weight: 300;
  text-align: center;
}

.footer__text-green{
  color: #18cfab;
}
