.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.section-header__text {
  position: relative;
  margin: 0;
  font-size: 36px;
  padding-top: 90px;
  font-weight: 400;
}

.section-header__text::before {
  content: "";
  position: absolute;
  top: 158px;
  left: 43%;
  background-color: #18cfab;
  width: 77px;
  height: 2px;
}

.section-header__text::after {
  content: "";
  position: absolute;
  top: 164px;
  left: 46%;
  background-color: #18cfab;
  width: 77px;
  height: 2px;
}

/*section home*/
.home {
  height: 1012px;
  background-size: cover;
  background: url("../images/section_home.jpg") no-repeat fixed center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgba(73, 71, 63, .6);
}

.container_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.hexagon__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.hexagon {
  margin: 20px 8px 20px 0px;
  width: 100px;
  height: 55px;
  background: #18cfab;
  position: relative;
}

.hexagon:before,
.hexagon:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  top: -25px;
  border-bottom: 25px solid #18cfab;
}

.hexagon:after {
  bottom: -25px;
  border-top: 25px solid #18cfab;
}

.text_in_hexagon {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

.text_after_hexagon {
  display: inherit;
  font-size: 40px;
}

.text_after_hexagon_green {
  display: inline-block;
  color: #18cfab;
  text-transform: capitalize;
  font-weight: 700;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: 262px;
  position: relative;
}

.navbar-nav_links {
  position: relative;
  color: #b8b8b8;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 42px;
  text-align: left;
  margin-right: 17px;
}

.navbar-nav_links:hover::after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -40px;
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.navbar-nav_links:hover {
  color: #18cfab;
}

.header__text {
  margin-top: 246px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.header__text_first_line {
  font-size: 35px;
}

.header__text_first_line_green {
  color: #18cfab;
}

.header__text_second_line {
  font-size: 79px;
  margin-top: 45px;
}

.header__text_third_line {
  font-size: 34px;
  color: #d4d4d4;
  text-transform: capitalize;
  font-weight: 300;
  margin-top: 37px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_btn1 {
  padding: 26px 31px;
  background-color: #18cfab;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 146px;
  border-top: 5px solid #ffffff;
  margin-bottom: 244px;
}

.btn_btn2 {
  background-color: #00cbf6;
  margin-left: 28px;
  padding: 26px 26px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 146px;
  border-top: 5px solid #ffffff;
  margin-bottom: 244px;
}
