.our-services .section-header__text {
  padding-top: 97px;
}
.our-services__menu {
  padding: 100px 0 25px 0;
  font-size: 0;
}
.our-services__menu-item {
  width: 189px;
  background-color: #f8fcfe;
  border: 1px solid #eff0f1;
  position: relative;
}
.our-services__menu-item:hover {
  background-color: #18cfab;
  cursor: pointer;
}
.our-services__menu-item:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #18cfab;
}
.our-services__item {
  display: none;
  height: 139px;
}
.our-services__item.active {
  display: block;
}
.our-services__item img {
  float: left;
  padding-right: 15px;
  width: 194px;
  height: 139px;
}
.our-services__item p {
  color: #777777;
  font-size: 14px;
  font-weight: 300;
  text-align: justify;
}
