*{
  margin: 0;
  padding: 0;

}
.container {
  width: 100%;
  max-width: 1160px;
  font-family: 'Montserrat', sans-serif;

}
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-size: 36px;
}