/*section home*/

.we-are-creative {
  height: 1012px;
  background: url("../img/home/section_home.jpg") no-repeat fixed top;
}

.we-are-creative__navbar {
  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: rgba(73, 71, 63, .6);
}

.we-are-creative__container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.we-are-creative__hexagon-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  z-index: 100;
}

.we-are-creative__hexagon {
  margin: 20px 8px 20px 0px;
  width: 99px;
  height: 55px;
  background: #18cfab;
  position: relative;
}

.we-are-creative__hexagon:before,
.we-are-creative__hexagon:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.we-are-creative__hexagon:before {
  top: -24px;
  border-bottom: 25px solid #18cfab;
}

.we-are-creative__hexagon:after {
  bottom: -24px;
  border-top: 25px solid #18cfab;
}

.we-are-creative__hexagon-text {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  font-size: 50px;
}

.we-are-creative__text-after-hexagon {
  display: inherit;
  font-size: 40px;
}

.we-are-creative__text-after-hexagon-green {
  display: inline-block;
  color: #18cfab;
  text-transform: capitalize;
  font-weight: 700;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: 262px;
  position: relative;
}

.navbar-nav-links {
  position: relative;
  color: #b8b8b8;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 42px;
  text-align: left;
  margin-right: 17px;
}

.navbar-nav-links:hover::after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
  bottom: -40px;
  color: #18cfab;
  border-bottom: 2px solid #18cfab;
}

.navbar-nav-links:hover {
  color: #18cfab;
}

.we-are-creative__text {
  margin-top: 246px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}

.fa-search{
  color: #b8b8b8;
}

.we-are-creative__text-first-line {
  font-size: 35px;
}

.we-are-creative__text-first-line-green {
  color: #18cfab;
}

.we-are-creative__text-second-line {
  font-size: 79px;
  margin-top: 45px;
}

.we-are-creative__text-third-line {
  font-size: 34px;
  color: #d4d4d4;
  text-transform: capitalize;
  font-weight: 300;
  margin-top: 37px;
}

.we-are-creative__btn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
