.what-people-say {
  margin-top: 132px;
  text-align: center;
  height: 852px;
  background: url("../img/what-people-say/what_people_say.jpg") round fixed;
}

.what-people-say .section {
  color: #fff;
  padding-top: 90px;
}

.what-people-say__quarters {
  margin-top: 105px;
}

.what-people-say__slider-for {
  margin-top: 43px;
  color: #bbbbbb;
}

//.what-people-say__photo-block{
//  margin-bottom: 70px;
//  position: relative;
//}
//
.what-people-say__photo-block-text {
  //  padding-top: 43px;
  text-align: center;
  line-height: 30px;
  height: 45px;
  //  padding-bottom: 43px;
  //  color:  #bbbbbb;
  font-size: 16px;
  font-weight: 300;
  //  width: 1100px;
  //  word-wrap: break-word;
}

.what-people-say__photo-name {
  color: #18cfab;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 27px;
  margin-top: 63px;

}

//
.what-people-say__photo-position {
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  line-height: 27px;
}

.what-people-say__photo-image-border-one {
  border-radius: 50%;
  width: 130px;
  height: 130px;
  border: 6px solid rgba(31, 218, 181, .2);
  margin: 23px auto 0 auto;

}

.what-people-say__photo-image-border-two {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  border: 3px solid #18cfab;
  overflow: hidden;
}

.what-people-say__photo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.what-people-say__slider-nav {
  width: 350px;
  margin: 20px auto 0 auto;
}

.what-people-say__bottom-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
}

.what-people-say__bottom-photo-border-one {
  border-radius: 50%;
  width: 25%;
  height: 60px;
  border: 3px solid transparent;
  margin: 27px auto 0 auto;
}

.what-people-say__bottom-photo-border-two:before {
  content: '';
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 3px solid rgba(31, 218, 181, .2);
  margin-left: -33px;
  margin-top: -4px;
}

.what-people-say__bottom-photo-border-two {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  max-width: 60px;
  height: 60px;
  border: 1px solid #18cfab;
  overflow: hidden;
  margin: 0 auto;
}

.slick-center{
  transform: scale(1.4);
  height: 75px;
  //margin-left: 7px;
}

.fas.fa-arrow-circle-right.slick-arrow {
  top: 59px;
  left: 367px;
  position: absolute;
}

.fas.fa-arrow-circle-left.slick-arrow {
  top: 59px;
  left: -34px;
  position: absolute;
}

.fas.fa-arrow-circle-right.slick-arrow:active {
  color: #18cfab;
}

.fas.fa-arrow-circle-left.slick-arrow:active {
  color: #18cfab;
}

